# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Prettier configuration
.prettierrc

# Jest configuration
jest.config.js

# Test output
src/mutantDetector.test.js

# NPM configuration
package-lock.json

# IDE configuration
.vscode/

# Nodemon configuration
nodemon.json